@charset "utf-8";

/* 19.05.14 게시판용 달력 */
#divCalendar {	 position:relative; width:210px; height:220px; left:40px; top:5px; z-index:11; display:none;}
#popCalendar {	 position:absolute; width:210px; height:220px; left:0px; top:0px; z-index:10;}
#ifrCalendar {	 position:absolute; width:210px; height:220px; left:0px; top:0px; z-index:9;}

/* 게시판 버튼 */
.board_btn_wrap {overflow:hidden;}
.board_btn {display:inline-block; font-size:13px; color:#000000; border:1px solid #dbdbdb; padding:10px 25px; margin:0; background:#e5e5e5; border-radius:5px;}
.board_btn:hover {background:#f1f1f1;color:#000000;}


/* 게시판 리스트*/
.b_list_top {overflow:hidden; margin-bottom:8px;}
.b_list_top .total_num {font-size:12px; line-height:26px;}
.b_list_top .total_num span {font-weight:bold; margin-right:7px;}

.b_list_top .b_search select {font-family:'Noto Sans Korean', dotum, sans-serif; font-size:12px; height:26px; padding:2px; vertical-align: middle; border:1px solid #dddddd;}
.b_list_top .b_search input[type="text"] {font-family:'Noto Sans Korean', dotum, sans-serif; width:120px; font-size:12px; height:20px; padding:2px; vertical-align: middle; border:1px solid #dddddd;}
.b_list_top .b_search input[type="button"] {font-family:'Noto Sans Korean', dotum, sans-serif; font-size:12px;  height:26px; padding:2px 10px; vertical-align: middle; background:#4a4e62; border:none; color:#ffffff; cursor:pointer;}

.b_list_top .b_search_type2 {background:#f1f4f8; width:100%; padding:17px 0; text-align:center; margin:0 0 7px 0}
.b_list_top .b_search_type2 select {font-family:'Noto Sans Korean', dotum, sans-serif; font-size:12px; height:26px; padding:2px; vertical-align: middle; border:1px solid #dddddd;}
.b_list_top .b_search_type2 input[type="text"] {font-family:'Noto Sans Korean', dotum, sans-serif; width:240px; font-size:12px; height:20px; padding:2px; vertical-align: middle; border:1px solid #dddddd;}
.b_list_top .b_search_type2 input[type="button"] {font-family:'Noto Sans Korean', dotum, sans-serif; font-size:12px;  height:26px; padding:2px 10px; vertical-align: middle; background:#4a4e62; border:none; color:#ffffff; cursor:pointer;}

.b_list_top .b_search_type3 {background:#f1f4f8; padding:17px 15px; text-align:center; margin:0 0 7px 0}
.b_list_top .b_search_type3 select {font-family:'Noto Sans Korean', dotum, sans-serif; font-size:12px; height:26px; padding:2px; vertical-align: middle; border:1px solid #dddddd;}
.b_list_top .b_search_type3 input[type="text"] {font-family:'Noto Sans Korean', dotum, sans-serif; font-size:12px; height:20px; padding:2px; vertical-align: middle; border:1px solid #dddddd;}
.b_list_top .b_search_type3 input[type="button"] {font-family:'Noto Sans Korean', dotum, sans-serif; font-size:12px;  height:26px; padding:2px 10px; vertical-align: middle; background:#4a4e62; border:none; color:#ffffff; cursor:pointer;}
.b_list_top .b_search_type3 input.name_s {width:100px;}
.b_list_top .b_search_type3 input.work_s {width:150px; margin-right:5px;}
.b_list_top .b_search_type3 label {font-size:13px; margin-left:5px; vertical-align:middle;}
.b_list_top .b_search_type3 label:first-child {margin:0; vertical-align:middle;}

.b_list_top .b_search_type3 input[type="button"].InputBtn_down {background:#005aab;}

.Board_list01 {width: 100%; margin:0; border-top:2px solid #3b3838; color:#333333;}
.Board_list01 > ul > li {border-bottom: 1px solid #ececec; padding: 15px 0; width: 100%; line-height: 1.4; overflow:hidden;}
.Board_list01 > ul > li:hover {background:#f9f9f9;}	
.Board_list01 .num {width:10%; text-align:center; float:left; font-size:13px; line-height:22px;}
.Board_list01 .brd_tit_g {float:left; width:73%; margin-right:1%;}
.Board_list01 .brd_tit_g .title {font-size:16px; display:block;}
.Board_list01 > ul > li:hover .title {text-decoration:underline;}
.Board_list01 .brd_tit_g ul {overflow:hidden;}
.Board_list01 .brd_tit_g > ul > li {font-size:12px; color:#737373; float:left; background:url(../img_kor/ikor_board/line_bg.gif) no-repeat right center; padding:0 8px 0 0; margin:0 8px 0 0; }
.Board_list01 .brd_tit_g > ul > li:last-child {background:none;}
.Board_list01 .brd_tit_g > ul > li span {margin-right:3px;}
.Board_list01 .brd_tit_g > ul > li span:last-child {margin-right:0;}

.Board_list01 .brd_file_g {float:left; width:15%; text-align:center; border:1px solid #ececec; box-sizing:border-box; padding:0; background:#ffffff;}
.Board_list01 .brd_file_g .file_icons {padding:6px 0 3px 0;}
.Board_list01 .brd_file_g .file_view {display:block; border-top:1px solid #ececec; padding:5px 0; font-size:12px; }
.Board_list01 .brd_file_g .file_view .icon {background:url(../img_kor/ikor_board/fv_icon.gif) no-repeat 0 2px; padding:0 0 0 18px;}

.Board_list01 .brd_file_g .file_view:hover {background:#164f8b; color:#ffffff;}
.Board_list01 .brd_file_g .file_view:hover .icon {background:url(../img_kor/ikor_board/fv_icon_hover.gif) no-repeat 0 2px; }


.Board_list03 {width: 100%; margin:0; border-top:2px solid #3b3838; color:#333333;}
.Board_list03 > ul > li {border-bottom: 1px solid #ececec; padding: 15px 0; width: 100%; line-height: 1.4; overflow:hidden;}
.Board_list03 > ul > li:hover {background:#f9f9f9;}	
.Board_list03 .num {width:10%; text-align:center; float:left; font-size:13px;}
.Board_list03 .sum_img {width:170px; height:107px; float:left;}
.Board_list03 .sum_img img {width:170px; height:107px;}
.Board_list03 .brd_text_g {float: right; width: 75%; margin-right: 1%; margin-top:5px;}
.Board_list03 .brd_text_g .title {font-size:16px; color:#004782; display:block;}
.Board_list03 .brd_text_g ul {overflow:hidden;}
.Board_list03 .brd_text_g > ul > li {font-size:12px; color:#737373; float:left; background:url(../img_kor/ikor_board/line_bg.gif) no-repeat right center; padding:0 8px 0 0; margin:0 8px 0 0; }
.Board_list03 .brd_text_g > ul > li:last-child {background:none;}
.Board_list03 .brd_text_g > ul > li span {margin-right:3px;}
.Board_list03 .brd_text_g > ul > li span:last-child {margin-right:0;}
.Board_list03 .brd_text_g .text {margin-top:7px; font-size:13px; line-height:1.5;}
.Board_list03 > ul > li:hover .text {text-decoration:underline;}	
.Board_list03 > ul > li:hover .title {text-decoration:underline;}	


.Board_list04 {width: 100%; margin:0; border-top:2px solid #3b3838; color:#333333;border-bottom: 1px solid #ececec; overflow:hidden; padding:10px 0; }
.Board_list04 > ul {width:99%; margin:0 auto; font-size:0; overflow:hidden;}
.Board_list04 > ul > li {padding-top:10px; padding-bottom:10px; width: 30.3%; padding-left:1.3%; padding-right:1.3%; display:inline-block; line-height: 1.4; overflow:hidden;}
.Board_list04 > ul > li:hover {background:#f0f0f0;}	
.Board_list04 .vod_img {padding:0; margin:0 0 7px 0;}
.Board_list04 .vod_img a {display:block; overflow:hidden;}
.Board_list04 .vod_img img {width:100%; padding:0; margin:0; overflow:hidden; display:block; height:182px;}
.Board_list04 .brd_tit_g .title {font-size:14px; display:block;}
.Board_list04 > ul > li:hover .title {text-decoration:underline; /* color:#004782; */}
.Board_list04 .brd_tit_g .date span {margin-right:5px; font-size:12px; color:#767676;}
.Board_list04 > ul > li:hover .date span {margin-right:5px; font-size:12px; color:#6d6d6d;}




.Board_list05 {width: 100%; margin:0; border-top:2px solid #3b3838; color:#333333;}
.Board_list05 > ul > li {border-bottom: 1px solid #ececec; padding: 15px 0; width: 100%; line-height: 1.4; overflow:hidden;}
.Board_list05 > ul > li:hover {background:#f9f9f9;}	
.Board_list05 .brd_tit_g {width:98%; margin:0 auto;}
.Board_list05 .brd_tit_g .title {font-size:16px;display:block; margin:0 0 5px 0; color:#164f8b;}
.Board_list05 > ul > li:hover .title {text-decoration:underline;}
.Board_list05 .brd_tit_g ul {}
.Board_list05 .brd_tit_g > ul > li {font-size:12px; color:#666666; display:inline-block; background:url(../img_kor/ikor_board/line_bg.gif) no-repeat right center; padding:0 7px 0 0; margin:0 6px 0 0; }
.Board_list05 .brd_tit_g > ul > li:last-child {background:none;}
.Board_list05 .brd_tit_g > ul > li span {margin-right:3px;}
.Board_list05 .brd_tit_g > ul > li span:last-child {margin-right:0;}
.Board_list05 .brd_tit_g > ul > li .info_tit_bg {background:#555555; color:#ffffff; padding:0 5px 1px 5px; border-radius: 5px;}
.Board_list05 .brd_tit_g > ul > li .info_tit {color:#444444; font-weight:500;}
.Board_list05 .brd_tit_g > ul > li .b_color {color:#164f8b; font-weight:500;}


.pagination { margin:25px 0 15px 0; text-align: center; clear:both; }

.pagination a {color:#777777; border:solid 1px #dedede; display:inline-block; margin:2px; width:25px; height:25px; text-align:center; font-size:12px; line-height:25px; vertical-align:middle;}
.pagination a.on {color:#ffffff; background:#555e65; border:1px solid #6c777f; display:inline-block; margin:2px; width: 25px;  height: 25px; text-align: center; font-size: 12px; line-height: 25px; vertical-align: middle;}
.pagination .prev_g a, .pagination .next_g a {width:25px; height:25px; background:url(../img_kor/ikor_board/pagination_arrow.png) no-repeat;}
.pagination .prev_g a.page_p_end {background-position:0 0;}
.pagination .prev_g a.page_p {background-position:-25px 0;}
.pagination .next_g a.page_n_end {background-position:-75px 0;}
.pagination .next_g a.page_n {background-position:-50px 0;}

.pagination a.M_on { color:#fff; background:#68757d; border:#555e65 solid 1px; font-weight:bold; }
.pagination a.Arrow { padding:1px 0 1px 0;}

.pagination .pager span {color:#777777; border:solid 1px #dedede; display:inline-block; margin:0 2px; width:25px; height:25px; text-align:center; font-size:12px; line-height:25px; vertical-align:middle; cursor:pointer; }
.pagination .pager span.on {color:#ffffff; background:#555e65; border:1px solid #6c777f; display:inline-block; margin:0 2px; width: 25px;  height: 25px; text-align: center; font-size: 12px; line-height: 25px; vertical-align: middle; cursor:pointer;}

/* 게시판 뷰 */
.Board_view {position:relative; width:100%; margin:0 0 20px 0;color:#333333; font-size:14px;}

.Board_view .sns_list {text-align:right; margin:0 0 3px 0;}
.Board_view .sns_list li {display:inline-block; margin-left:3px;}
.Board_view .sns_list li a img {width:20px; height:20px;}

.Board_view .bv_tit_wrap {border-top:2px solid #3b3838; overflow:hidden; padding:15px 15px 14px 15px; background:#f7f7f9;}
.Board_view .bv_tit_wrap .title {font-size:17px; display:inline-block; margin:0 8px 5px 0; font-weight:500;}
.Board_view .bv_tit_wrap ul {overflow:hidden; margin:10px 0 0 0;}
.Board_view .bv_tit_wrap > ul > li {font-size:12px; color:#666666; float:left; background:url(../img_kor/ikor_board/line_bg.gif) no-repeat right center; padding:0 9px 0 0; margin:0 8px 5px 0; }
.Board_view .bv_tit_wrap > ul > li:last-child {background:none;}
.Board_view .bv_tit_wrap > ul > li span {margin-right:3px;}
.Board_view .bv_tit_wrap > ul > li span:last-child {margin-right:0;}
.Board_view .bv_tit_wrap > ul > li .tit {color:#333333;}

.Board_view .bv_file_wrap {border-bottom: 1px solid #e6e6e6; padding:10px 15px; overflow:hidden;}
.Board_view .bv_file_wrap dl {font-size:13px;}
.Board_view .bv_file_wrap dl dt {width:63px; font-weight:500; float:left; /* margin-right:10px; */ line-height:1.5;}
.Board_view .bv_file_wrap dl dd {width:calc(100% - 63px); float:left; }
.Board_view .bv_file_wrap dl dd ul {}
.Board_view .bv_file_wrap dl dd ul li {margin-bottom:4px; line-height:1.4;}
.Board_view .bv_file_wrap dl dd ul li:last-child {margin-bottom:0;}
.Board_view .bv_file_wrap dl dd ul li a {display:inline-block;}
.Board_view .bv_file_wrap dl dd ul li .file_text {margin-right:3px; color:#555555;}
.Board_view .bv_file_wrap dl dd ul li .file_text:hover {color:#333333;}
.Board_view .bv_file_wrap dl dd ul li .fileByte{margin:0 10px 5px 0;}
.Board_view .bv_file_wrap .no_file_txt {color:#666666; line-height:1.4;}
.Board_view .f_down_btn {font-size:11px; background:#4a4e62 url(../img_kor/ikor_board/file_down_icon.png) no-repeat 6px center; padding:2px 6px 2px 22px; border:1px solid #222222; margin-left:4px; border-radius:5px; color:#ffffff; white-space:nowrap;}
.Board_view .f_down_btn:hover {background:#3b3838 url(../img_kor/ikor_board/file_down_icon.png) no-repeat 6px center;;}
.Board_view .f_view_btn {font-size:11px; background:#4a4e62 url(../img_kor/ikor_board/file_view_icon.png) no-repeat 6px center; padding:2px 6px 2px 22px; border:1px solid #222222; margin-left:2px; border-radius:5px; color:#ffffff; white-space:nowrap;}
.Board_view .f_view_btn:hover {background:#3b3838 url(../img_kor/ikor_board/file_view_icon.png) no-repeat 6px center;}
.Board_view .file_Limit { padding:6px 0 2px 0; color:#0f4573; font-size:13px; }

.Board_view .bv_submit_wrap {border-bottom: 1px solid #e6e6e6; padding:10px 15px; overflow:hidden; line-height:1.4;}
.Board_view .bv_submit_wrap span{float:left;}
.Board_view .submit_btn {font-size:11px; background:#215fc1 url(../img_kor/ikor_board/submit_icon.png) no-repeat 6px center; padding:2px 8px 2px 22px; border:1px solid #1149a3; margin-left:2px; color:#ffffff; white-space:nowrap;}
.Board_view .submit_btn:hover {background-color:#1852ac;}

.Board_view .bv_url_wrap {border-bottom: 1px solid #e6e6e6; padding:10px 15px; overflow:hidden;}
.Board_view .bv_url_wrap dl {font-size:13px; }
.Board_view .bv_url_wrap dl dt {width:8%; font-weight:500; float:left; /* margin-right:10px; */}
.Board_view .bv_url_wrap dl dd {width:90%; float:left;}

.Board_view .bv_tit_wrap_sub {border-bottom: 1px solid #e6e6e6; padding:8px 15px; overflow:hidden;}
.Board_view .bv_tit_wrap_sub ul {font-size:13px;}
.Board_view .bv_tit_wrap_sub ul li {overflow:hidden; padding:3px 0;}
.Board_view .bv_tit_wrap_sub ul li .tit  {margin:0 10px 0 0; font-weight:500;}
.Board_view .bv_tit_wrap_sub ul > li:last-child .tit  {margin:0 10px 2px 0; font-weight:500; display:block;}

.Board_view .bv_content_wrap {border-bottom: 1px solid #e6e6e6; padding:20px 15px; line-height:1.6;}
.Board_view .bv_content_wrap img { display: block; max-width: 100%; height: auto; margin: 0 auto 20px;}

.Board_view_list {border-top:2px solid #3b3838; overflow:hidden; margin-top:20px;}
.Board_view_list dl {border-bottom:1px solid #d7d7d7; position:relative;}
.Board_view_list dt { position:absolute; top:15px; left:0; vertical-align:middle; font-weight:600;  text-align: left;}
.Board_view_list dt .r_line {border-right:1px solid #bbbbbb; padding:1px 25px; }
.Board_view_list dd { margin-left:100px; padding:12px 12px 12px 12px; vertical-align: middle; text-align: left; line-height:1.4;}
.Board_view_list dd a {font-size:14px;}

/* 연관조사 */
.associated_svy {border-top:2px solid #053863; background:#e3ecf1; padding:15px 10px; margin-bottom:20px; position:relative;}
.associated_svy .title {font-weight:500; margin-bottom:10px;}
.associated_svy dl {background:#ffffff; padding:15px; overflow:hidden; font-size:13px;}
.associated_svy dl dt {width:25%; color:#025f94; font-weight:500; float:left; background:url(../img_kor/ikor_board/bul_01.gif) no-repeat left center; padding:0 0 0 8px;}
.associated_svy dl dd {width:73%; float:right;}
.associated_svy dl dd ul {}
.associated_svy dl dd ul li {float:left; background:url(../img_kor/ikor_board/bul_02.gif) no-repeat left center; padding:0 0 0 16px; margin-right:18px;}
.associated_svy dl dd ul li a:hover {color:#0064cc;}
.associated_svy dl dd .more_btn {float:right; font-size:12px; color:#666666;}
.associated_svy dl dd .more_btn:hover {color:#0064cc;}

.associated_svy .additional_tit {color:#111111;}
.associated_svy .as_list {background:#ffffff;}
.associated_svy .as_list > li {border-bottom:1px dashed #dddddd;}
.associated_svy .as_list > li.brd_none {border-bottom:none;}
.associated_svy .as_list > li:first-child {padding:3px 0;}
.associated_svy .as_list > li:last-child {padding-bottom:3px; border-bottom:none;}
.associated_svy .as_list > li > dl {padding:12px 15px;}

.associated_svy .open_btn {background:#053863; color:#ffffff; font-size:13px; position:absolute; top:8px; right:10px; border-radius:5px; padding:7px 10px;}
.associated_svy .close_btn {background:#053863; color:#ffffff; font-size:13px; position:absolute; top:8px; right:10px; border-radius:5px; padding:7px 10px;}

/* 게시판 에디트 */
.Board_edit_mode {width:100%; margin:0 0 20px 0;color:#333333; font-size:13px;}
.Board_edit_mode .user {margin:0 0 5px 0; font-size:13px;}
.Board_edit_mode .be_top_wrap {border-top:2px solid #3b3838; overflow:hidden; border-bottom:1px solid #d7d7d7;}
.Board_edit_mode .be_top_wrap textarea {font-family:'Noto Sans Korean', dotum, sans-serif; padding:2px; vertical-align: middle; border:1px solid #dddddd; width:99%; margin-top:10px; margin-left:1%; height:100px;}
.Board_edit_mode dl {border-bottom:1px solid #d7d7d7;}
.Board_edit_mode dt {width:85px; display:inline-block; padding:7px 0 7px 12px; vertical-align: middle; font-weight:500;  text-align: left;}
.Board_edit_mode dt .r_line {border-right:1px solid #bbbbbb; display:block;}
.Board_edit_mode dd {width:85%; display:inline-block; padding:7px 0 7px 12px; vertical-align: middle; text-align: left; line-height:1.4;}
.Board_edit_mode dl:last-child{border-bottom:none;}

.Board_edit_mode dd a img {padding:0 10px 0 2px; vertical-align:middle;}
.Board_edit_mode .be_cont_wrap {border-top:none; overflow:hidden; border-bottom:1px solid #d7d7d7; padding:10px 0;}
.Board_edit_mode .be_cont_wrap .textAreaMode { display: inline-block; }
.Board_edit_mode .be_cont_wrap textarea {font-family:'Noto Sans Korean', dotum, sans-serif; padding:2px; vertical-align: middle; border:1px solid #dddddd; width:97%; margin-top:10px; margin-left:1%; height:400px;}
.Board_edit_mode input[type="text"] {font-family:'Noto Sans Korean', dotum, sans-serif; font-size:13px; height:20px; padding:2px; vertical-align: middle; border:1px solid #dddddd;}
.Board_edit_mode select {font-family:'Noto Sans Korean', dotum, sans-serif; font-size:13px; height:26px; padding:2px; vertical-align: middle; border:1px solid #dddddd;}
.Board_edit_mode .b_title {width:100%;}
.Board_edit_mode .b_url {width:100%;}
.Board_edit_mode .f_size13 {font-size:13px;}

.Board_edit_mode .be_file_wrap {border-top:none; overflow:hidden; border-bottom:1px solid #d7d7d7; padding:10px 0;}
.Board_edit_mode .be_file_wrap .b_file ul > li {margin:2px 0;}

.Board_edit_mode .essential {font-size:11px; font-weight:normal; color:#d00000;}

#cke_exp_html {width:98% !important; margin:10px 1% 0 1% !important;}

.tel_input {width:100px;}
.name_input {width:160px;}
.dept_input {width:160px;}

.b_relation {margin:15px 0; border:1px solid #d7d7d7; background:#f5f5f5; padding:15px 20px;}
.b_relation dl {}
.b_relation dl dt {display:block; width:100%; padding:0; }
.b_relation dl dd {display:block; width:100%; padding:0; margin-top:8px;}
.b_relation dl dd span {line-height:1.7;}
.b_relation dl a {font-weight:500; font-size:13px;}

.b_relation dl .btn{display:inline-block; font-size:12px; color:#ffffff; background:#555e65; padding:5px 12px 6px 12px; margin:0; border-radius:5px;}
.b_relation dl .btn:hover {background:#333333; color:#ffffff;}

.privacy_txt {width:100%; margin-bottom:20px;}
.privacy_txt .brd_text_g {width:100%; height:165px; box-sizing:border-box; padding:4px; margin:0; font-family: 'Noto Sans Korean', dotum, sans-serif; color:#333333; }

.be_ctxt_wrap {border-bottom:1px solid #d7d7d7;}
.be_ctxt_wrap > dl > dd {padding:12px 0 12px 12px; line-height:1.6;}
.be_ctxt_wrap_ > dl {border-bottom:1px solid #d7d7d7;}
.be_ctxt_wrap_ > dl > dt {padding:12px 0 7px 12px; vertical-align: middle; font-weight:500;display: block;}
.be_ctxt_wrap_ > dl > dd {width:98%; padding:0 0 12px 12px; text-align: left; line-height:1.4;}

/* 처리상태 */
.processing_status {border-bottom: 1px solid #ececec; padding:10px 15px; overflow:hidden;}
.processing_status dl {font-size:13px;}
.processing_status dl dt {width:8%; font-weight:500; float:left; /* margin-right:10px; */ line-height:1.5;}
.processing_status dl dd {width:90%;  float:left; }

.process_type01 {font-size:11px; background:#6e59bb; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px;}
.process_type02 {font-size:11px; background:#c15616; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px;}
.process_type03 {font-size:11px; background:#137820; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px;}
.process_type04 {font-size:11px; background:#a51717; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px;}
.process_type05 {font-size:11px; background:#046fba; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px;}

.proc_01 {font-size:11px; background:#666666; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px; vertical-align:middle; line-height:22px;}
.proc_02 {font-size:11px; background:#666666; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px; vertical-align:middle; line-height:22px;}
.proc_03 {font-size:11px; background:#666666; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px; vertical-align:middle; line-height:22px;}

.proc_01_ov {font-size:11px; background:#0775ab; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px; vertical-align:middle; line-height:22px;}
.proc_02_ov {font-size:11px; background:#c15616; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px; vertical-align:middle; line-height:22px;}
.proc_03_ov {font-size:11px; background:#007a90; color:#ffffff; padding:1px 8px 3px 8px; border-radius:3px; vertical-align:middle; line-height:22px;}

.proc_btn {font-size:11px; border:1px solid #dddddd; box-sizing:border-box; margin:2px 0 0 5px; vertical-align:top; border-radius:3px; background:#eeeeee; padding:2px 8px 3px 8px;cursor:pointer;}

.processing_status dl dd input[type="radio"] {margin:0 2px; vertical-align:middle; }
.processing_status dl dd label {cursor:pointer;} 
 
 
 /* 관련조사선택 */
.survey_wrap {width:100%; /* height:470px; */} 
.survey_wrap h2 {background:#1f5faa; padding:10px;}
.survey_wrap h2 .tit {color:#ffffff; font-size:15px; text-align:left;}

.survey_wrap .search_box {position:relative; padding:15px; margin:10px; border: 2px solid #dededf;}

.survey_wrap .search_box label {font-size:13px; margin-right:2px; font-weight:500;}
.survey_wrap .search_box select {font-family: 'Noto Sans Korean', dotum, sans-serif; font-size:12px; height:26px; padding:2px; vertical-align: middle; border:1px solid #dddddd; width:190px; margin-right:13px;}
.survey_wrap .search_box input[type="text"] {font-family: 'Noto Sans Korean', dotum, sans-serif; width:120px; font-size:12px; height:20px; padding:2px; vertical-align: middle; border:1px solid #dddddd;}
.survey_wrap .search_box input[type="button"] {font-family: 'Noto Sans Korean', dotum, sans-serif; font-size:12px;  height:26px; padding:2px 10px; vertical-align: middle; background:#4a4e62; border:none; color:#ffffff; cursor:pointer;}

.survey_wrap .select_box {margin:0 10px; overflow:hidden;}
.survey_wrap .select_box p {font-size:12px; margin-bottom:10px;}
.survey_wrap .select_box label {font-size:13px;}

.survey_wrap .select_box dl {border: 2px solid #dededf; width:46%; box-sizing: border-box;}
.survey_wrap .select_box .left_g {float:left;}
.survey_wrap .select_box .right_g {float:right;}
.survey_wrap .select_box dt {text-align:center; display:block; padding:10px 0; font-weight:500;}
.survey_wrap .select_box dd {padding:0 0 12px 0;}
.survey_wrap .select_box dd select {font-family: 'Noto Sans Korean', dotum, sans-serif; width:90%; margin:0 auto; border:1px solid #e9e9e9; display:block; font-size:12px; padding:5px; }

.survey_wrap .select_box .arrow_g {float:left; width:8%; padding:102px 0 0 0;}
.survey_wrap .select_box .arrow_g a {background:url(../img_kor/ikor_board/servey_arrow_bg.png) no-repeat; width: 24px; height: 16px; display:block; margin:0 auto;}
.survey_wrap .select_box .arrow_g .arrow_right {background-position:-2px 0; margin-bottom:5px;}
.survey_wrap .select_box .arrow_g .arrow_left {background-position:-1px -24px;}
.survey_wrap .btn_g {margin:13px 0;}

.sboard_btn {display:inline-block; font-size:12px; color:#ffffff; border:1px solid #53576d; padding:6px 18px; margin:0; background:#4a4e62; border-radius:5px;}
.sboard_btn:hover {background:#393d4e;color:#ffffff;}

.survey_wrap .foot {background:#efefef; font-size:11px; padding:8px;}

/* 동영상 미리보기 버튼 */
.vod_view_btn {font-size:13px; background:#ffffff url(/portal/korea/img_kor/ikor_comm/vod_icon.png) no-repeat 8px center; padding:4px 8px 5px 35px; border:1px solid #dddddd; margin-left:3px; border-radius:5px; color:#444444 !important; white-space:nowrap; letter-spacing:-1px; vertical-align:text-top;}
.vod_view_btn:hover {background:#dfdfdf  url(/portal/korea/img_kor/ikor_comm/vod_icon.png) no-repeat 8px center; padding:4px 8px 5px 35px; border:1px solid #d8d8d8; color:#000000 !important;}
.vod_view_btn1 {font-size:13px; background:#ffffff url(/portal/korea/img_kor/ikor_comm/vod_icon.png) no-repeat 8px center; padding:3px 8px; border:1px solid #dddddd; margin-left:3px; border-radius:5px; color:#444444 !important; white-space:nowrap; letter-spacing:-1px; vertical-align:text-top;}
.vod_view_btn1:hover {background:#dfdfdf  url(/portal/korea/img_kor/ikor_comm/vod_icon.png) no-repeat 8px center; color:#000000 !important;}

/* 통계별 이용자 의견수렴 팝업 */
#popWrap.userTalk{display:none; width:420px; margin:-240px 0 0 -90px;}
.stName{width:100%; margin-top:15px; padding:7px 0 0 0; border-top:2px solid #383838; box-sizing:border-box;}
.stName label, .stName input{float:left; box-sizing:border-box; height:28px; line-height:28px;}
.stName label{width:60px;}
.stName input{width:calc(100% - 60px); font-family:'Noto Sans Korean', dotum, sans-serif; font-size:14px; color:#333; padding:0 5px; border:1px solid #dddddd; }
.opinionTxt{width:100%; box-sizing:border-box;}
.opinionTxt textarea {width:100%; height:150px; font-family:'Noto Sans Korean', dotum, sans-serif; font-size:14px; color:#333; padding:5px; border:1px solid #dddddd; margin:7px 0 10px 0; box-sizing:border-box; resize:none; vertical-align:middle;}

/* 211126 링크 새창아이콘 */
a.newimg[target="_blank"]:after {content: ''; position:absolute; width:18px; height:18px; background:#ffffff url(../img_kor/ikor_layout/index/t_blank_icon.png) no-repeat 94% 4px;}

