<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org" xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="/layouts/head :: headFragment"></th:block>
<body>
<header id="header">
	<th:block th:replace="/layouts/top :: topFragment"></th:block>
</header>
<div class="callout large primary">
  <div class="row column text-center">
    <h1>MyShop</h1>
    <h2 class="subheader">MyApp</h2>
  </div>
</div>
<div class="row medium-8 large-7 columns">
  <div class="blog-post">
    <h2>Board Write</h2>
	<div class="wrap">
	<form action="addBoardPro.do" role="form" method="post">
	  <div class="grid-container">
	    <div class="grid-x grid-padding-x">
	      <div class="medium-6 cell">
	        <label>제목 : 
	          <input type="text" th:field="${board.title}" placeholder="제목 입력">
	        </label>
	      </div>
	      <div class="medium-6 cell">
	        <label>내용 : 
	          <textarea rows="8" cols="80" th:field="${board.content}"></textarea>
	        </label>
	      </div>
			<div class="medium-6 cell">
			  <div class="input-group-button">
			    <input type="submit" class="button" value="글쓰기">
			    <input type="reset" class="button" value="취소">
			  </div>
			</div>
	    </div>
	  </div>
	</form>
	</div>
  </div>

</div>
<th:block th:replace="/layouts/footer :: footerFragment"></th:block>    
</body>
</html>