<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org" xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="/layouts/head :: headFragment"></th:block>
<body>
<header id="header">
	<th:block th:replace="/layouts/top :: topFragment"></th:block>
</header>
<div class="callout large primary">
  <div class="row column text-center">
    <h1>Our Blog</h1>
    <h2 class="subheader">Such a Simple Blog Layout</h2>
  </div>
</div>
<div class="row medium-8 large-7 columns">
  <div class="blog-post">
    <h2>Member Information</h2>
	<div class="wrap">
		<table class="table">
			<tbody>
				<tr>
					<th width="200">userid</th>
					<td width="680" th:text="${member.userid}"></td>
				</tr>
				<tr>
					<th>name</th>
					<td th:text="${member.name}"></td>
				</tr>
				<tr>
					<th>email</th>
					<td th:text="${member.email}"></td>
				</tr>
				<tr>
					<th>tel</th>
					<td th:text="${member.tel}"></td>
				</tr>
				<tr>
					<th>birth</th>
					<td th:text="${member.birth}"></td>
				</tr>
			</tbody>
		</table>
	</div>
  </div>

</div>
<th:block th:replace="/layouts/footer :: footerFragment"></th:block>    
</body>
</html>