<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="basket">
	<!-- 목록 불러오기 -->
	<select id="basketList" resultType="com.veryvery.dto.BasketDTO">
		select * from basket where id=#{id}
	</select>
	
	<!-- 상세보기 -->
	<select id="basketRead" resultType="com.veryvery.dto.BasketDetailDTO">
		select a.bno as bno, a.id as id, a.gno as gno, a.gcolor as gcolor, a.amount as amount,
		 a.gsize as gsize, a.bdate as bdate, b.gcategory as gcategory, b.gname as gname, 
		 b.gprice as gprice, b.gcontent as gcontent, b.gimage as gimage, b.best as best from
		 basket a inner join goods b on a.gno=b.gno where a.bno=#{bno}
	</select>
	
	<!-- 장바구니생성 --> 	
	<insert id="basketWrite">
		insert into basket values(#{bno} ,#{id}, #{gno}, #{gname}, #{gprice}, #{gimage}, #{gcolor}, #{amount}, #{gsize}, now())
	</insert>
	<!-- 장바구니수정 -->
	<update id="basketUpdate">
		update basket set gcolor=#{gcolor}, amount=#{amount}, gsize=#{gsize}, bdate=now() where bno=#{bno}
	</update>
	<delete id="basketDelete">
		delete from basket where bno=#{bno}
	</delete>
</mapper>
