<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="qna">
	<!--  목록 불러오기 -->
	<select id="qnaList" resultType="com.ksmstat.dto.QnaDTO" >
		select * from qna <include refid="search" /> order by qroot desc, qstep asc, qwritedate desc
	</select>
	
	<select id="qnaAllList" resultType="com.ksmstat.dto.QnaDTO" >
		select * from qna order by qroot desc, qstep asc, qwritedate desc
	</select>
	
	<select id="qnaCount" resultType="integer" >
		select count(*) from qna <include refid="search" />
	</select>
	
	<!-- 검색 조건 지정 -->
	<sql id="search">
		<if test="search=='qtitle' or search=='qcontent'" >
			where #{search } like '%' || #{keyword } || '%'
		</if>
		<if test="search=='qwriter'">
			where <include refid="writer"/>
		</if>
		<if test="search=='all'">
			where qtitle like '%' || #{keyword } || '%' OR 
			qcontent like '%' || #{keyword } || OR 
			<include refid="writer"/> 
		</if>
	</sql>
	
	<!-- 작성자 가져오기 -->
	<sql id="writer">
		qwriter in (select id from member where uname like '%' || #{keyword} || '%' )
	</sql>
	
	<!-- 글 상세보기 -->
	<select id="qnaRead" resultType="com.ksmstat.dto.QnaDTO" >
		select * from qna <include refid="condi"/>
	</select>
	
	<!-- 답변 글 상세보기 -->
	<select id="replyRead" resultType="com.ksmstat.dto.QnaDTO" >
		select * from qna where qno=#{qno }
	</select>
	
	<!-- 질문하기 -->
	<insert id="qnaWrite">
		insert into qna ( qtitle, qcontent, qwriter, qwritedate, qreadcnt, qroot, qstep, qindent) 
		values ( #{qtitle }, #{qcontent }, #{qwriter }, now(), 0, 1, 0, 0)
	</insert>

	<!-- 답변하기 -->
	<insert id="replyWrite">
		insert into qna ( qtitle, qcontent, qwriter, qwritedate, qreadcnt, qroot, qstep, qindent) 
		values ( #{qtitle }, #{qcontent }, #{qwriter }, now(), 0, #{qroot }, 1, 14)
	</insert>
	
	<!-- 글 수정 -->
	<update id="qnaUpdate">
		update qna set qtitle=#{qtitle }, qcontent=#{qcontent }, qwriter=#{qwriter}   
		where qno=#{qno }
	</update>
	
	<!-- 답글 수정 -->
	<update id="replyUpdate">
		update qna set qtitle=#{qtitle }, qcontent=#{qcontent }, qwriter=#{qwriter}   
		where qno=#{qno }
	</update>
	
	<!-- 글 삭제 -->
	<delete id="qnaDelete">
		delete from qna where qroot=#{qno }
	</delete>
	
	<!-- 답글 삭제 -->
	<delete id="replyDelete">
		delete from qna where qno=#{qno }
	</delete>
	
	<sql id="condi">
		where qno=#{qno }
	</sql>
</mapper>