@CHARSET "UTF-8";
* { margin:0; padding:0; }
body, html { width:100%; }
ul { list-style:none; }
a { text-decoration:none; }
#hd { clear:both; width:100%; height:80px; background-color:#00c; text-align:center; overflow:hidden; }
#hd h1 { line-height:100px; color:#fff; }

#gnb { clear:both; width:100%; height:48px; background-color:deepskyblue; }
#gnb li { float:left; padding:0px 50px; height:48px; }
#gnb li a { display:block; color:#fff; font-size:18px; text-align:center; line-height:48px; font-weight:bold; }

#content { clear:both; width:100%; min-height:500px; }
#content h2, #content h3, #content p { padding-left:36px; padding-right:36px; line-height:2.4; } 
ol { padding-left:36px; margin-left:14px; line-height:1.8; }
#content h2 { text-align:center; padding-top:1em; }

.form_wrap { clear:both; width:800px; margin:20px auto; }
.table1 { display:table; width:800px; }
.list_wrap { clear:both; width:960px; margin:20px auto; }
.table2 { display:table; width:960px; }
.table3 { display:table; width:500px; margin:0 auto; }

.table1 tr, .table2 tr { display:table-row; }
.table1 td, .table2 td, .table1 th, .table2 th { display:table-cell; }

/* 테이블1 .table1 = 입력 폼 테이블 */
.table1 th { width:300px; height:32px; border:1px solid #333; }
.table1 td { padding-left:14px; height:32px; border:1px solid #333;  }
.table1 tr:last-child td { text-align:center; height:50px; } 
.table1 tr td input[type="button"], .table1 tr td input[type="submit"]{ padding:5px 10px; }

/* 테이블2 .table2 = 목록 테이블1 */
.table2 th { height:32px; border:1px solid #333; }
.table2 td { padding-left:14px; height:32px; border:1px solid #333;  }
.table2 td { text-align:center; }
.table2 tr .col1 { width:100px; }
.table2 tr .col2 { width:110px; }
.table2 tr .col3 { width:130px; }
.table2 tr .col4 { width:auto; }
.table2 tr .col5 { width:130px; }
.table2 tr .col6 { width:100px; }
.table2 tr .col7 { width:100px; }

/* 테이블3 .table3 = 목록 테이블2 */
.table3 th { height:32px; border:1px solid #333; }
.table3 td { padding-left:14px; height:32px; border:1px solid #333;  }
.table3 td { text-align:center; }
.table3 tr .col1 { width:100px; }
.table3 tr .col2 { width:110px; }
.table3 tr .col3 { width:130px; }
.table3 tr .col4 { width:auto; }


#ft { clear:both; width:100%; text-align:center; line-height:70px; background-color:#00c; color:#fff; 
position:fixed; left:0; bottom:0; }
