<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
    <select id="selectListBoard" parameterType="BoardVO" resultType="BoardVO">
        select * from board1
    </select>
    <select id="getBoard" resultType="MemberVO">
        select * from board1 where seq=#{seq}
    </select>
</mapper>